{{#x-card
  onsubmit=attrs.onsubmit
  title='Login to peepchat'
  buttonText='Login'}}

<div class="row">
  {{x-input
    value=model.email
    classNames='col s12'
    errors=validations.attrs.model.email.messages
    type='email'
    label='Username'}}
</div>
<div class="row">
    {{x-input
    value=model.password
    classNames='col s12'
    errors=validations.attrs.model.password.messages
    type='password'
    label='Password'}}
</div>

{{/x-card}}